<p>usuarios works!</p>

           
            <form cForm>
                <div class="mb-3">
                  <label cLabel for="inputEmail-1">Correo</label>
                  <input cFormControl id="inputEmail-1" type="email">
                  <div cFormText>
                    No compartiremos tu correo electrónico con nadie más
                  </div>
                </div>
                <div class="mb-3">
                  <label cLabel for="inputPassword-1">Contraseña</label>
                  <input cFormControl id="inputPassword-1" type="password">
                </div>
                
                <c-form-check class="mb-3">
                  <input cFormCheckInput id="checkMeOut-1" type="checkbox">
                  <label cFormCheckLabel for="checkMeOut-1">Recuerdarme</label>
                </c-form-check>
                <input cButton color="primary" type="submit">
              </form>
        
    
